.post {
    border-bottom: 1px solid blue;
}

.row {
}

.reply {
    margin-left: 20px;
    border-bottom: 1px solid lightblue;
}

.row-reply {
}
button {
    width: 100%;
    text-align: center;
}

.author {
}
.replytime {
}
